<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main class="container">
    <div class="row">
      <div class="col s6 offset-s3">
        <form  action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST">
          <div class="row">
            <div class="col s12">
              <label for="title">Title</label>
              <input type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
            </div>
            <div class="col s12">
              <label for="imageUrl">Image Url</label>
              <input type="text" name="imageUrl" id="imageUrl"
                value="<% if (editing) { %><%= product.imageUrl %><% } %>">
            </div>
            <div class="col s12">
              <label for="price">Price</label>
              <input type="number" name="price" id="price" step="0.01"
                value="<% if (editing) { %><%= product.price %><% } %>">
            </div>
            <div class="col s12">
              <label for="description">Description</label>
              <textarea class="materialize-textarea" name="description"
                id="description"><% if (editing) { %><%= product.description %><% } %></textarea>
            </div>
          </div>
          <% if (editing) { %>
          <input type="hidden" value="<%= product.id %>" name="productId">
          <% } %>
          <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
        </form>
      </div>
    </div>
  </main>
  <%- include('../includes/end.ejs') %>